<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>mvs.narrow</string>
      <string>nirugu</string>
      <string>space</string>
      <string>_A.isol</string>
      <string>_A.init</string>
      <string>_A.medi</string>
      <string>_A.fina</string>
      <string>_A.fina.Wp_</string>
      <string>_A2.init</string>
      <string>_Aa.isol</string>
      <string>_Aa.fina</string>
      <string>_Ah.medi</string>
      <string>_Ah.fina</string>
      <string>_Ai.medi</string>
      <string>_Ai.fina</string>
      <string>_At.fina</string>
      <string>_Aw.fina</string>
      <string>_B.init</string>
      <string>_B.medi</string>
      <string>_B.fina</string>
      <string>_B2.fina</string>
      <string>_Bc.init</string>
      <string>_Bc.medi</string>
      <string>_Bg.init</string>
      <string>_Bg.medi</string>
      <string>_Bg.fina</string>
      <string>_Bh.init</string>
      <string>_Bh.medi</string>
      <string>_C.init</string>
      <string>_C.medi</string>
      <string>_C.fina</string>
      <string>_Cc.init</string>
      <string>_Cc.medi</string>
      <string>_Ch.init</string>
      <string>_Ch.medi</string>
      <string>_Ch.fina</string>
      <string>_Cp.init</string>
      <string>_Cp.medi</string>
      <string>_Cp.fina</string>
      <string>_Cr.init</string>
      <string>_Cr2.init</string>
      <string>_Cr2.medi</string>
      <string>_Cs.init</string>
      <string>_Cs.medi</string>
      <string>_Ct.init</string>
      <string>_Ct.medi</string>
      <string>_Cx.init</string>
      <string>_Cx.medi</string>
      <string>_Cx.fina</string>
      <string>_D.init</string>
      <string>_D.medi</string>
      <string>_D.fina</string>
      <string>_Db.medi</string>
      <string>_Dd.medi</string>
      <string>_Dd.fina</string>
      <string>_Dh.medi</string>
      <string>_Dp.init</string>
      <string>_Dp.medi</string>
      <string>_Dp.fina</string>
      <string>_Dq.init</string>
      <string>_Dq.medi</string>
      <string>_Dq.fina</string>
      <string>_Dr.init</string>
      <string>_Dr.medi</string>
      <string>_Dr.fina</string>
      <string>_Ds.init</string>
      <string>_Ds.medi</string>
      <string>_Ds.fina</string>
      <string>_Dt.init</string>
      <string>_Dt.medi</string>
      <string>_Dv.init</string>
      <string>_Dv.medi</string>
      <string>_Dv.fina</string>
      <string>_Dw.medi</string>
      <string>_Dx.medi</string>
      <string>_Dy.init</string>
      <string>_Dy.medi</string>
      <string>_Dz.init</string>
      <string>_Dz.medi</string>
      <string>_E.medi</string>
      <string>_E.fina</string>
      <string>_F.init</string>
      <string>_F.medi</string>
      <string>_F.fina</string>
      <string>_G.init</string>
      <string>_G.medi</string>
      <string>_G.fina</string>
      <string>_G2.fina</string>
      <string>_G3.fina</string>
      <string>_G4.fina</string>
      <string>_Gc.init</string>
      <string>_Gc.medi</string>
      <string>_Gh.init</string>
      <string>_Gh.medi</string>
      <string>_Gp.init</string>
      <string>_Gp.medi</string>
      <string>_Gx.init</string>
      <string>_Gx.medi</string>
      <string>_Gx.fina</string>
      <string>_H.init</string>
      <string>_H.medi</string>
      <string>_H.fina</string>
      <string>_Hb.init</string>
      <string>_Hb.medi</string>
      <string>_Hc.init</string>
      <string>_Hc.medi</string>
      <string>_Hh.init</string>
      <string>_Hh.medi</string>
      <string>_Hh2.medi</string>
      <string>_Hp.medi</string>
      <string>_Hp.fina</string>
      <string>_Hr.medi</string>
      <string>_Hr.fina</string>
      <string>_Hx.init</string>
      <string>_Hx.medi</string>
      <string>_Hx.fina</string>
      <string>_Hx.fina.mvs</string>
      <string>_Hx2.init</string>
      <string>_Hx2.fina</string>
      <string>_Hy.init</string>
      <string>_Hy.medi</string>
      <string>_Hy2.medi</string>
      <string>_I.isol</string>
      <string>_I.init</string>
      <string>_I.medi</string>
      <string>_I.fina</string>
      <string>_I4.fina</string>
      <string>_Ic.init</string>
      <string>_Ic.medi</string>
      <string>_Ih.init</string>
      <string>_Ip.medi</string>
      <string>_Ip.fina</string>
      <string>_Iq.init</string>
      <string>_Ir.fina</string>
      <string>_It.init</string>
      <string>_Ix.isol</string>
      <string>_Iy.fina</string>
      <string>_J.init</string>
      <string>_J.medi</string>
      <string>_J.fina</string>
      <string>_J2.medi</string>
      <string>_Jb.init</string>
      <string>_Jb.medi</string>
      <string>_Jb.fina</string>
      <string>_Jc.medi</string>
      <string>_Jc.fina</string>
      <string>_Jh.medi</string>
      <string>_Jq.medi</string>
      <string>_Jt.medi</string>
      <string>_Jt.fina</string>
      <string>_K.init</string>
      <string>_K.medi</string>
      <string>_K.fina</string>
      <string>_K2.init</string>
      <string>_K2.medi</string>
      <string>_K2.fina</string>
      <string>_Kc.init</string>
      <string>_Kc.medi</string>
      <string>_Kh.init</string>
      <string>_Kh.medi</string>
      <string>_Kh.fina</string>
      <string>_Kp.init</string>
      <string>_Kp.medi</string>
      <string>_Kp.fina</string>
      <string>_L.init</string>
      <string>_L.medi</string>
      <string>_L.fina</string>
      <string>_L2.init</string>
      <string>_Lc.init</string>
      <string>_Lc.medi</string>
      <string>_M.init</string>
      <string>_M.medi</string>
      <string>_M.fina</string>
      <string>_M2.fina</string>
      <string>_M3.fina</string>
      <string>_N.init</string>
      <string>_N.medi</string>
      <string>_N.fina</string>
      <string>_N.fina.mvs</string>
      <string>_N2.init</string>
      <string>_Nb.init</string>
      <string>_Nb.medi</string>
      <string>_Nx.medi</string>
      <string>_Nx.fina</string>
      <string>_Ny.init</string>
      <string>_Ny.medi</string>
      <string>_Ny.fina</string>
      <string>_O.init</string>
      <string>_O.medi</string>
      <string>_O.fina</string>
      <string>_Ob.medi</string>
      <string>_Ob.fina</string>
      <string>_Oh.medi</string>
      <string>_Oh.fina</string>
      <string>_Op.medi</string>
      <string>_Op.fina</string>
      <string>_Ot.medi</string>
      <string>_Ot.fina</string>
      <string>_P.init</string>
      <string>_P.medi</string>
      <string>_P.fina</string>
      <string>_Pb.init</string>
      <string>_Pb.medi</string>
      <string>_Pg.init</string>
      <string>_Pg.medi</string>
      <string>_Ph.init</string>
      <string>_Ph.medi</string>
      <string>_Pp.init</string>
      <string>_Pp.medi</string>
      <string>_Pp.fina</string>
      <string>_Q.init</string>
      <string>_Q.medi</string>
      <string>_R.init</string>
      <string>_R.medi</string>
      <string>_R.fina</string>
      <string>_R2.fina</string>
      <string>_R3.init</string>
      <string>_R3.medi</string>
      <string>_Rh.init</string>
      <string>_Rh.medi</string>
      <string>_Rh.fina</string>
      <string>_Rh2.init</string>
      <string>_Rh2.medi</string>
      <string>_Rr.init</string>
      <string>_Rr.medi</string>
      <string>_Rz.init</string>
      <string>_Rz.medi</string>
      <string>_S.init</string>
      <string>_S.medi</string>
      <string>_S.fina</string>
      <string>_S3.fina</string>
      <string>_Sc.init</string>
      <string>_Sc.medi</string>
      <string>_Sh.init</string>
      <string>_Sh.medi</string>
      <string>_Sh.fina</string>
      <string>_Sp.init</string>
      <string>_Sp.medi</string>
      <string>_Sp.fina</string>
      <string>_St.init</string>
      <string>_St.medi</string>
      <string>_St2.init</string>
      <string>_St2.medi</string>
      <string>_Sx.init</string>
      <string>_Sx.medi</string>
      <string>_Sx.fina</string>
      <string>_Sx2.init</string>
      <string>_Sx2.medi</string>
      <string>_Sx2.fina</string>
      <string>_Sz.fina</string>
      <string>_T.init</string>
      <string>_T.medi</string>
      <string>_T.fina</string>
      <string>_Tb.init</string>
      <string>_Th.init</string>
      <string>_Tp.init</string>
      <string>_Tp.medi</string>
      <string>_Tp.fina</string>
      <string>_Ts.init</string>
      <string>_Tt.init</string>
      <string>_Tx.init</string>
      <string>_U.isol</string>
      <string>_U.fina</string>
      <string>_Ue.fina</string>
      <string>_Uh.fina</string>
      <string>_Up.fina</string>
      <string>_Ux.isol</string>
      <string>_V.init</string>
      <string>_V.medi</string>
      <string>_Vi.fina</string>
      <string>_W.init</string>
      <string>_W.medi</string>
      <string>_W.fina</string>
      <string>_Wb.init</string>
      <string>_Wb.medi</string>
      <string>_Wb.fina</string>
      <string>_Wc.init</string>
      <string>_Wc.medi</string>
      <string>_Wd.init</string>
      <string>_Wd.medi</string>
      <string>_Wn.init</string>
      <string>_Wn.medi</string>
      <string>_Wn.fina</string>
      <string>_Wp.medi</string>
      <string>_Wp.fina</string>
      <string>_Y.init</string>
      <string>_Y.medi</string>
      <string>_Yp.medi</string>
      <string>_Yp.fina</string>
      <string>_Z.init</string>
      <string>_Z.medi</string>
      <string>_Z.fina</string>
      <string>_Zc.init</string>
      <string>_Zc.medi</string>
      <string>_Zc.fina</string>
      <string>_Zr.init</string>
      <string>_Zr2.init</string>
      <string>_Zr2.medi</string>
      <string>_Zr2.fina</string>
      <string>_Zs.init</string>
      <string>_Zs.medi</string>
      <string>_Zs2.init</string>
      <string>_Zs2.medi</string>
      <string>_Zt.init</string>
      <string>_Zt.medi</string>
      <string>_Zz.init</string>
      <string>_Zz.medi</string>
      <string>_Zz.fina</string>
      <string>_Zz2.init</string>
      <string>_Zz2.medi</string>
      <string>_Zz2.fina</string>
      <string>_Zz3.init</string>
      <string>_Zz3.medi</string>
      <string>_Zz3.fina</string>
      <string>_AALv.init</string>
      <string>_AALv.isol</string>
      <string>_AELv.init</string>
      <string>_AELv.isol</string>
      <string>_AIpLv.init</string>
      <string>_AIpLv.isol</string>
      <string>_ALv.fina</string>
      <string>_ALv.isol</string>
      <string>_ALv.medi</string>
      <string>_AObLv.init</string>
      <string>_AObLv.isol</string>
      <string>_AOtLv.init</string>
      <string>_AOtLv.isol</string>
      <string>_AULv.isol</string>
      <string>_ELv.fina</string>
      <string>_ELv.medi</string>
      <string>_IpLv.fina</string>
      <string>_IpLv.medi</string>
      <string>_IrLv.fina</string>
      <string>_Lv.fina</string>
      <string>_Lv.medi</string>
      <string>_Lv.mark</string>
      <string>_ObLv.fina</string>
      <string>_ObLv.medi</string>
      <string>_OtLv.fina</string>
      <string>_OtLv.medi</string>
      <string>_ULv.fina</string>
      <string>_WpLv.fina</string>
      <string>_BA.init</string>
      <string>_BA.medi</string>
      <string>_BAa.isol</string>
      <string>_BAa.fina</string>
      <string>_BAh.init</string>
      <string>_BAh.medi</string>
      <string>_BAt.isol</string>
      <string>_BAt.fina</string>
      <string>_BE.isol</string>
      <string>_BE.init</string>
      <string>_BE.medi</string>
      <string>_BE.fina</string>
      <string>_BI.isol</string>
      <string>_BI.init</string>
      <string>_BI.medi</string>
      <string>_BI.fina</string>
      <string>_BIp.isol</string>
      <string>_BIp.init</string>
      <string>_BIp.medi</string>
      <string>_BIp.fina</string>
      <string>_BO.isol</string>
      <string>_BO.init</string>
      <string>_BO.medi</string>
      <string>_BO.fina</string>
      <string>_BOI.init</string>
      <string>_BOI.medi</string>
      <string>_BOb.isol</string>
      <string>_BOb.init</string>
      <string>_BOb.medi</string>
      <string>_BOb.fina</string>
      <string>_BOh.isol</string>
      <string>_BOh.init</string>
      <string>_BOh.medi</string>
      <string>_BOh.fina</string>
      <string>_BOp.isol</string>
      <string>_BOp.init</string>
      <string>_BOp.medi</string>
      <string>_BOp.fina</string>
      <string>_BOt.isol</string>
      <string>_BOt.init</string>
      <string>_BOt.medi</string>
      <string>_BOt.fina</string>
      <string>_BUe.isol</string>
      <string>_BUe.fina</string>
      <string>_BW.isol</string>
      <string>_BW.init</string>
      <string>_BW.medi</string>
      <string>_BW.fina</string>
      <string>_BcA.init</string>
      <string>_BcA.medi</string>
      <string>_BcAa.isol</string>
      <string>_BcAa.fina</string>
      <string>_BcAh.init</string>
      <string>_BcAh.medi</string>
      <string>_BcAt.isol</string>
      <string>_BcAt.fina</string>
      <string>_BcI.isol</string>
      <string>_BcI.init</string>
      <string>_BcI.medi</string>
      <string>_BcI.fina</string>
      <string>_BcO.isol</string>
      <string>_BcO.init</string>
      <string>_BcO.medi</string>
      <string>_BcO.fina</string>
      <string>_BcOh.isol</string>
      <string>_BcOh.init</string>
      <string>_BcOh.medi</string>
      <string>_BcOh.fina</string>
      <string>_BgA.init</string>
      <string>_BgA.medi</string>
      <string>_BgAa.isol</string>
      <string>_BgAa.fina</string>
      <string>_BgAh.init</string>
      <string>_BgAh.medi</string>
      <string>_BgAt.isol</string>
      <string>_BgAt.fina</string>
      <string>_BgI.isol</string>
      <string>_BgI.init</string>
      <string>_BgI.medi</string>
      <string>_BgI.fina</string>
      <string>_BgO.isol</string>
      <string>_BgO.init</string>
      <string>_BgO.medi</string>
      <string>_BgO.fina</string>
      <string>_BgOI.init</string>
      <string>_BgOI.medi</string>
      <string>_BgOh.isol</string>
      <string>_BgOh.init</string>
      <string>_BgOh.medi</string>
      <string>_BgOh.fina</string>
      <string>_BgW.isol</string>
      <string>_BgW.init</string>
      <string>_BgW.medi</string>
      <string>_BgW.fina</string>
      <string>_BhA.init</string>
      <string>_BhA.medi</string>
      <string>_BhAa.isol</string>
      <string>_BhAa.fina</string>
      <string>_BhE.isol</string>
      <string>_BhE.init</string>
      <string>_BhE.medi</string>
      <string>_BhE.fina</string>
      <string>_BhIp.isol</string>
      <string>_BhIp.init</string>
      <string>_BhIp.medi</string>
      <string>_BhIp.fina</string>
      <string>_BhO.isol</string>
      <string>_BhO.init</string>
      <string>_BhO.medi</string>
      <string>_BhO.fina</string>
      <string>_BhOb.isol</string>
      <string>_BhOb.init</string>
      <string>_BhOb.medi</string>
      <string>_BhOb.fina</string>
      <string>_FA.init</string>
      <string>_FA.medi</string>
      <string>_FAa.isol</string>
      <string>_FAa.fina</string>
      <string>_FI.isol</string>
      <string>_FI.init</string>
      <string>_FI.medi</string>
      <string>_FI.fina</string>
      <string>_FO.isol</string>
      <string>_FO.init</string>
      <string>_FO.medi</string>
      <string>_FO.fina</string>
      <string>_FOI.init</string>
      <string>_FOI.medi</string>
      <string>_FUe.isol</string>
      <string>_FUe.fina</string>
      <string>_FW.isol</string>
      <string>_FW.init</string>
      <string>_FW.medi</string>
      <string>_FW.fina</string>
      <string>_GA.init</string>
      <string>_GA.medi</string>
      <string>_GAa.isol</string>
      <string>_GAa.fina</string>
      <string>_GE.isol</string>
      <string>_GE.init</string>
      <string>_GE.medi</string>
      <string>_GE.fina</string>
      <string>_GI.isol</string>
      <string>_GI.init</string>
      <string>_GI.medi</string>
      <string>_GI.fina</string>
      <string>_GIp.isol</string>
      <string>_GIp.init</string>
      <string>_GIp.medi</string>
      <string>_GIp.fina</string>
      <string>_GO.isol</string>
      <string>_GO.init</string>
      <string>_GO.medi</string>
      <string>_GO.fina</string>
      <string>_GOI.init</string>
      <string>_GOI.medi</string>
      <string>_GOb.isol</string>
      <string>_GOb.init</string>
      <string>_GOb.medi</string>
      <string>_GOb.fina</string>
      <string>_GOt.isol</string>
      <string>_GOt.init</string>
      <string>_GOt.medi</string>
      <string>_GOt.fina</string>
      <string>_GUe.isol</string>
      <string>_GUe.fina</string>
      <string>_GW.isol</string>
      <string>_GW.init</string>
      <string>_GW.medi</string>
      <string>_GW.fina</string>
      <string>_GcA.init</string>
      <string>_GcA.medi</string>
      <string>_GcAa.isol</string>
      <string>_GcAa.fina</string>
      <string>_GcI.isol</string>
      <string>_GcI.init</string>
      <string>_GcI.medi</string>
      <string>_GcI.fina</string>
      <string>_GcO.isol</string>
      <string>_GcO.init</string>
      <string>_GcO.medi</string>
      <string>_GcO.fina</string>
      <string>_GcOI.init</string>
      <string>_GcOI.medi</string>
      <string>_GcUe.isol</string>
      <string>_GcUe.fina</string>
      <string>_GhA.init</string>
      <string>_GhA.medi</string>
      <string>_GhAa.isol</string>
      <string>_GhAa.fina</string>
      <string>_GhI.isol</string>
      <string>_GhI.init</string>
      <string>_GhI.medi</string>
      <string>_GhI.fina</string>
      <string>_GhO.isol</string>
      <string>_GhO.init</string>
      <string>_GhO.medi</string>
      <string>_GhO.fina</string>
      <string>_GhOI.init</string>
      <string>_GhOI.medi</string>
      <string>_GhUe.isol</string>
      <string>_GhUe.fina</string>
      <string>_GpA.init</string>
      <string>_GpA.medi</string>
      <string>_GpAa.isol</string>
      <string>_GpAa.fina</string>
      <string>_GpOb.isol</string>
      <string>_GpOb.init</string>
      <string>_GpOb.medi</string>
      <string>_GpOb.fina</string>
      <string>_GpOp.isol</string>
      <string>_GpOp.init</string>
      <string>_GpOp.medi</string>
      <string>_GpOp.fina</string>
      <string>_GxA.init</string>
      <string>_GxA.medi</string>
      <string>_GxAa.isol</string>
      <string>_GxAa.fina</string>
      <string>_GxI.isol</string>
      <string>_GxI.init</string>
      <string>_GxI.medi</string>
      <string>_GxI.fina</string>
      <string>_GxO.isol</string>
      <string>_GxO.init</string>
      <string>_GxO.medi</string>
      <string>_GxO.fina</string>
      <string>_GxOI.init</string>
      <string>_GxOI.medi</string>
      <string>_GxUe.isol</string>
      <string>_GxUe.fina</string>
      <string>_GxW.isol</string>
      <string>_GxW.init</string>
      <string>_GxW.medi</string>
      <string>_GxW.fina</string>
      <string>_Hh2A.medi</string>
      <string>_Hh2Aa.fina</string>
      <string>_HhA.init</string>
      <string>_HhAa.isol</string>
      <string>_Hy2A.medi</string>
      <string>_Hy2Aa.fina</string>
      <string>_HyA.init</string>
      <string>_HyAa.isol</string>
      <string>_IhAh.isol</string>
      <string>_IhAh.init</string>
      <string>_IhOh.isol</string>
      <string>_IhOh.init</string>
      <string>_JhAh.medi</string>
      <string>_JhAh.fina</string>
      <string>_JhOh.medi</string>
      <string>_JhUh.fina</string>
      <string>_K2A.init</string>
      <string>_K2A.medi</string>
      <string>_K2Aa.isol</string>
      <string>_K2Aa.fina</string>
      <string>_K2E.isol</string>
      <string>_K2E.init</string>
      <string>_K2E.medi</string>
      <string>_K2E.fina</string>
      <string>_K2I.isol</string>
      <string>_K2I.init</string>
      <string>_K2I.medi</string>
      <string>_K2I.fina</string>
      <string>_K2Ip.isol</string>
      <string>_K2Ip.init</string>
      <string>_K2Ip.medi</string>
      <string>_K2Ip.fina</string>
      <string>_K2O.isol</string>
      <string>_K2O.init</string>
      <string>_K2O.medi</string>
      <string>_K2O.fina</string>
      <string>_K2OI.init</string>
      <string>_K2OI.medi</string>
      <string>_K2Ob.isol</string>
      <string>_K2Ob.init</string>
      <string>_K2Ob.medi</string>
      <string>_K2Ob.fina</string>
      <string>_K2Ue.isol</string>
      <string>_K2Ue.fina</string>
      <string>_K2W.isol</string>
      <string>_K2W.init</string>
      <string>_K2W.medi</string>
      <string>_K2W.fina</string>
      <string>_KA.init</string>
      <string>_KA.medi</string>
      <string>_KAa.isol</string>
      <string>_KAa.fina</string>
      <string>_KE.isol</string>
      <string>_KE.init</string>
      <string>_KE.medi</string>
      <string>_KE.fina</string>
      <string>_KI.isol</string>
      <string>_KI.init</string>
      <string>_KI.medi</string>
      <string>_KI.fina</string>
      <string>_KIp.isol</string>
      <string>_KIp.init</string>
      <string>_KIp.medi</string>
      <string>_KIp.fina</string>
      <string>_KO.isol</string>
      <string>_KO.init</string>
      <string>_KO.medi</string>
      <string>_KO.fina</string>
      <string>_KOI.init</string>
      <string>_KOI.medi</string>
      <string>_KOb.isol</string>
      <string>_KOb.init</string>
      <string>_KOb.medi</string>
      <string>_KOb.fina</string>
      <string>_KOt.isol</string>
      <string>_KOt.init</string>
      <string>_KOt.medi</string>
      <string>_KOt.fina</string>
      <string>_KUe.isol</string>
      <string>_KUe.fina</string>
      <string>_KW.isol</string>
      <string>_KW.init</string>
      <string>_KW.medi</string>
      <string>_KW.fina</string>
      <string>_KcA.init</string>
      <string>_KcA.medi</string>
      <string>_KcAa.isol</string>
      <string>_KcAa.fina</string>
      <string>_KcO.isol</string>
      <string>_KcO.init</string>
      <string>_KcO.medi</string>
      <string>_KcO.fina</string>
      <string>_KhA.init</string>
      <string>_KhA.medi</string>
      <string>_KhAa.isol</string>
      <string>_KhAa.fina</string>
      <string>_KhO.isol</string>
      <string>_KhO.init</string>
      <string>_KhO.medi</string>
      <string>_KhO.fina</string>
      <string>_KpA.init</string>
      <string>_KpA.medi</string>
      <string>_KpAa.isol</string>
      <string>_KpAa.fina</string>
      <string>_KpOb.isol</string>
      <string>_KpOb.init</string>
      <string>_KpOb.medi</string>
      <string>_KpOb.fina</string>
      <string>_KpOp.isol</string>
      <string>_KpOp.init</string>
      <string>_KpOp.medi</string>
      <string>_KpOp.fina</string>
      <string>_LcAh.isol</string>
      <string>_LcAh.init</string>
      <string>_LcAh.medi</string>
      <string>_LcAh.fina</string>
      <string>_LcOh.isol</string>
      <string>_LcOh.init</string>
      <string>_LcOh.medi</string>
      <string>_LcUh.fina</string>
      <string>_NGAa.isol</string>
      <string>_NGAa.fina</string>
      <string>_PA.init</string>
      <string>_PA.medi</string>
      <string>_PAa.isol</string>
      <string>_PAa.fina</string>
      <string>_PI.isol</string>
      <string>_PI.init</string>
      <string>_PI.medi</string>
      <string>_PI.fina</string>
      <string>_PO.isol</string>
      <string>_PO.init</string>
      <string>_PO.medi</string>
      <string>_PO.fina</string>
      <string>_POI.init</string>
      <string>_POI.medi</string>
      <string>_PUe.isol</string>
      <string>_PUe.fina</string>
      <string>_PW.isol</string>
      <string>_PW.init</string>
      <string>_PW.medi</string>
      <string>_PW.fina</string>
      <string>_PbA.init</string>
      <string>_PbA.medi</string>
      <string>_PbAa.isol</string>
      <string>_PbAa.fina</string>
      <string>_PbAh.init</string>
      <string>_PbAh.medi</string>
      <string>_PbAt.isol</string>
      <string>_PbAt.fina</string>
      <string>_PbI.isol</string>
      <string>_PbI.init</string>
      <string>_PbI.medi</string>
      <string>_PbI.fina</string>
      <string>_PbO.isol</string>
      <string>_PbO.init</string>
      <string>_PbO.medi</string>
      <string>_PbO.fina</string>
      <string>_PbOI.init</string>
      <string>_PbOI.medi</string>
      <string>_PbOh.isol</string>
      <string>_PbOh.init</string>
      <string>_PbOh.medi</string>
      <string>_PbOh.fina</string>
      <string>_PbUe.isol</string>
      <string>_PbUe.fina</string>
      <string>_PgA.init</string>
      <string>_PgA.medi</string>
      <string>_PgAa.isol</string>
      <string>_PgAa.fina</string>
      <string>_PgI.isol</string>
      <string>_PgI.init</string>
      <string>_PgI.medi</string>
      <string>_PgI.fina</string>
      <string>_PgO.isol</string>
      <string>_PgO.init</string>
      <string>_PgO.medi</string>
      <string>_PgO.fina</string>
      <string>_PgOI.init</string>
      <string>_PgOI.medi</string>
      <string>_PgUe.isol</string>
      <string>_PgUe.fina</string>
      <string>_PgW.isol</string>
      <string>_PgW.init</string>
      <string>_PgW.medi</string>
      <string>_PgW.fina</string>
      <string>_PhA.init</string>
      <string>_PhA.medi</string>
      <string>_PhAa.isol</string>
      <string>_PhAa.fina</string>
      <string>_PhE.isol</string>
      <string>_PhE.init</string>
      <string>_PhE.medi</string>
      <string>_PhE.fina</string>
      <string>_PhIp.isol</string>
      <string>_PhIp.init</string>
      <string>_PhIp.medi</string>
      <string>_PhIp.fina</string>
      <string>_PhO.isol</string>
      <string>_PhO.init</string>
      <string>_PhO.medi</string>
      <string>_PhO.fina</string>
      <string>_PhOb.isol</string>
      <string>_PhOb.init</string>
      <string>_PhOb.medi</string>
      <string>_PhOb.fina</string>
      <string>_PpA.init</string>
      <string>_PpA.medi</string>
      <string>_PpAa.isol</string>
      <string>_PpAa.fina</string>
      <string>_PpE.isol</string>
      <string>_PpE.init</string>
      <string>_PpE.medi</string>
      <string>_PpE.fina</string>
      <string>_PpIp.isol</string>
      <string>_PpIp.init</string>
      <string>_PpIp.medi</string>
      <string>_PpIp.fina</string>
      <string>_PpO.isol</string>
      <string>_PpO.init</string>
      <string>_PpO.medi</string>
      <string>_PpO.fina</string>
      <string>_PpOb.isol</string>
      <string>_PpOb.init</string>
      <string>_PpOb.medi</string>
      <string>_PpOb.fina</string>
      <string>_PpOp.isol</string>
      <string>_PpOp.init</string>
      <string>_PpOp.medi</string>
      <string>_PpOp.fina</string>
      <string>_PpOt.isol</string>
      <string>_PpOt.init</string>
      <string>_PpOt.medi</string>
      <string>_PpOt.fina</string>
      <string>_WpA.fina</string>
      <string>_Zs2I.isol</string>
      <string>_Zs2I.init</string>
      <string>_Zs2I.medi</string>
      <string>_Zs2I.fina</string>
      <string>_ZtAh.isol</string>
      <string>_ZtAh.init</string>
      <string>_ZtAh.medi</string>
      <string>_ZtAh.fina</string>
      <string>_ZtOh.isol</string>
      <string>_ZtOh.init</string>
      <string>_ZtOh.medi</string>
      <string>_ZtUh.fina</string>
      <string>_AGH.medi</string>
      <string>_AGH.fina</string>
      <string>_AGHb.medi</string>
      <string>_AGHc.medi</string>
      <string>_AGHh.medi</string>
      <string>_AGHx.medi</string>
      <string>_AGL.medi</string>
      <string>_AGM.medi</string>
      <string>_AGN.medi</string>
      <string>_AGNx.medi</string>
      <string>_BL.init</string>
      <string>_BL.medi</string>
      <string>_BM.init</string>
      <string>_BM.medi</string>
      <string>_GL.init</string>
      <string>_GL.medi</string>
      <string>_GM.init</string>
      <string>_GM.medi</string>
      <string>_LL.medi</string>
      <string>_ML.medi</string>
      <string>_MM.medi</string>
      <string>u1800</string>
      <string>u11660</string>
      <string>u11661</string>
      <string>u11662</string>
      <string>u11663</string>
      <string>u11664</string>
      <string>u11665</string>
      <string>u11666</string>
      <string>u11667</string>
      <string>u11668</string>
      <string>u11669</string>
      <string>u1166A</string>
      <string>u1166B</string>
      <string>u1166C</string>
      <string>u1801</string>
      <string>u1802</string>
      <string>u1803</string>
      <string>u1804</string>
      <string>u1805</string>
      <string>u1806</string>
      <string>u1808</string>
      <string>u1809</string>
      <string>u1810</string>
      <string>u1811</string>
      <string>u1812</string>
      <string>u1813</string>
      <string>u1814</string>
      <string>u1815</string>
      <string>u1816</string>
      <string>u1817</string>
      <string>u1818</string>
      <string>u1819</string>
      <string>u1880</string>
      <string>u1880.fvs1</string>
      <string>u1881</string>
      <string>u1881.fvs1</string>
      <string>u1882</string>
      <string>u1883</string>
      <string>u1884</string>
      <string>u1885</string>
      <string>u1886</string>
      <string>u18A9</string>
      <string>u00B7</string>
      <string>u2014</string>
      <string>u2018</string>
      <string>u2018.vert</string>
      <string>u2019</string>
      <string>u2019.vert</string>
      <string>u201C</string>
      <string>u201C.vert</string>
      <string>u201D</string>
      <string>u201D.vert</string>
      <string>u2026</string>
      <string>u2048</string>
      <string>u2048.vert</string>
      <string>u2049</string>
      <string>u2049.vert</string>
      <string>u3000</string>
      <string>u3001</string>
      <string>u3001.vert</string>
      <string>u3002</string>
      <string>u3002.vert</string>
      <string>u3008</string>
      <string>u3008.vert</string>
      <string>u3009</string>
      <string>u3009.vert</string>
      <string>u300A</string>
      <string>u300A.vert</string>
      <string>u300B</string>
      <string>u300B.vert</string>
      <string>u300C</string>
      <string>u300C.vert</string>
      <string>u300D</string>
      <string>u300D.vert</string>
      <string>u300E</string>
      <string>u300E.vert</string>
      <string>u300F</string>
      <string>u300F.vert</string>
      <string>uFF01</string>
      <string>uFF01.vert</string>
      <string>uFF08</string>
      <string>uFF08.vert</string>
      <string>uFF09</string>
      <string>uFF09.vert</string>
      <string>uFF0C</string>
      <string>uFF0C.vert</string>
      <string>uFF1A</string>
      <string>uFF1A.vert</string>
      <string>uFF1B</string>
      <string>uFF1B.vert</string>
      <string>uFF1F</string>
      <string>uFF1F.vert</string>
      <string>uFF3B</string>
      <string>uFF3B.vert</string>
      <string>uFF3D</string>
      <string>uFF3D.vert</string>
      <string>u25CC</string>
      <string>mvs</string>
      <string>mvs.nominal</string>
      <string>nnbsp</string>
      <string>fvs1</string>
      <string>fvs2</string>
      <string>fvs3</string>
      <string>fvs4</string>
      <string>zwj</string>
      <string>zwnj</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>fvs1</key>
      <string>base</string>
      <key>fvs1.ignored</key>
      <string>mark</string>
      <key>fvs1.valid</key>
      <string>mark</string>
      <key>fvs2</key>
      <string>base</string>
      <key>fvs2.ignored</key>
      <string>mark</string>
      <key>fvs2.valid</key>
      <string>mark</string>
      <key>fvs3</key>
      <string>base</string>
      <key>fvs3.ignored</key>
      <string>mark</string>
      <key>fvs3.valid</key>
      <string>mark</string>
      <key>fvs4</key>
      <string>base</string>
      <key>fvs4.ignored</key>
      <string>mark</string>
      <key>fvs4.valid</key>
      <string>mark</string>
      <key>marker.feminine</key>
      <string>mark</string>
      <key>marker.initial</key>
      <string>mark</string>
      <key>marker.masculine</key>
      <string>mark</string>
      <key>marker.masculine.false</key>
      <string>base</string>
      <key>marker.masculine.true</key>
      <string>base</string>
      <key>mvs</key>
      <string>base</string>
      <key>mvs.ignored</key>
      <string>mark</string>
      <key>mvs.narrow</key>
      <string>base</string>
      <key>mvs.wide</key>
      <string>base</string>
      <key>nirugu</key>
      <string>base</string>
      <key>nirugu.extend</key>
      <string>base</string>
      <key>nirugu.ignored</key>
      <string>mark</string>
      <key>nnbsp</key>
      <string>base</string>
      <key>u1885</key>
      <string>mark</string>
      <key>u1886</key>
      <string>mark</string>
      <key>u18A9</key>
      <string>mark</string>
      <key>zwj</key>
      <string>mark</string>
      <key>zwj.ignored</key>
      <string>mark</string>
      <key>zwnj</key>
      <string>mark</string>
      <key>zwnj.ignored</key>
      <string>mark</string>
    </dict>
  </dict>
</plist>
